.wrapper  {
    width: 1200px;
    height: 1200px;
    margin: 0 auto;
}

header {
    width: 100%;
    height: 100px;
    background-color: red;
}

.logo {
    height: 100%;
    width: 200px;
    background-color: purple;
    float: left;
}  

.menu {
    width: 600px;
    height: 50px;
    background-color: skyblue;
    margin-right: 50px;
    float: left;
}

.slide {
    width: 100%;
    height: 300px;
    background-color: orange;
    position: relative;
    overflow: hidden;
    z-index: 999;
}

.slide > img {
    position: absolute;
    width: 100%;
    height: 300px;
    left: 100;
    top: 0;
}

.slide > img:first-child {
    left: 100;
}

.main {
    width: 100%;
    height: 200px;
    background-color: yellow;
    display: flex;
}

.main > .notice {
    width: 400px;
    height: 100%;
    background-color: aqua;
}

.main > .gallery {
    width: 400px;
    height: 100%;
    background-color: brown;
}

.banner {
    width: 400px;
    height: 100%;
    background-color: black;
} 


footer {
    width: 100%;
    height: 100px;
    background-color: green;
}