@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
}

.wrapper {
    width: 1200px;
    margin: 0 auto;
}

header {
    width: 100%;
    height: 100px;
}

.logo {
    float: left; 
    width: 100px;
    height: 100%;  
}


.menu {
       width: 800px;
       float: right;
       padding-top: 50px;
       margin-right: 50px;
}

.main-menu {
    height: 50px;
    width: 600px;
}


.main-menu ul li {
    width: 200px;
    height: 50px;
    float: left;
}


.main-menu ul li a {
    display: block;
    width: 100%;
    line-height: 50px;
    text-align: center;
    font-weight: bold;
    background-color: greenyellow;
}

.main-menu ul li a:hover {
    background-color:yellow;
    color: #ff2800;
    
}

.sub-menu {
    width: 800px;
    height: 100px;
    margin-right: 50px;  
}


.sub-menu ul li {
    width: 200px;
    height: 50px;
    float: left;
    background-color: greenyellow;
}

.sub-menu ul li a {
    display: block;
    text-align: center;
    line-height: 50px;
}

.sub-menu ul li a:hover {
    color: #7a1677;
    background-color: yellowgreen;
}